<!DOCTYPE html>
<html>

<head>
    <title>WIFI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <style type="text/css">
        .input {
            display: block;
            margin-top: 10px;
        }

        .input span {
            width: 100px;
            display: inline-block;
            height: 36px;
            line-height: 36px;
        }

        .input input {
            height: 30px;
            width: 200px;
        }

        .btn {
            width: 120px;
            height: 35px;
            background-color: #000000;
            border: 0px;
            color: #ffffff;
            margin-top: 15px;
            margin-left: 100px;
        }

        #wifiList {
            margin-top: 20px;
        }

        #wifiList li {
            list-style-type: none;
            padding: 5px;
            border: 1px solid #ddd;
            margin-top: 5px;
            cursor: pointer;
        }

        #selectedWifi {
            margin-top: 10px;
        }
    </style>
</head>

<!--<body>-->
<!--    <form method="POST" action="configwifi">-->
<!--        <label class="input">-->
<!--            <span>WiFi SSID</span>-->
<!--            <input type="text" name="SSID" id="selectedSSID">-->
<!--        </label>-->
<!--        <label class="input">-->
<!--            <span>WiFi PASS</span>-->
<!--            <input type="text" name="passWord">-->
<!--        </label>-->
<!--        <input class="btn" type="submit" name="submit" value="确定">-->
<!--    </form>-->
<!--    <p>附近的WiFi:</p>-->
<!--    <ul id="wifiList">-->
<!--        &lt;!&ndash; WIFI_LIST &ndash;&gt;-->
<!--        <input class="btn" type="button" id="refreshButton" value="刷新">-->
<!--        &lt;!&ndash; <li onclick="selectWifi(this)">WiFi名称 1</li> &ndash;&gt;-->
<!--        -->
<!--    </ul>-->
<!--    <p id="selectedWifi">Selected WiFi: None</p>-->

<!--    <script>-->
<!--        function selectWifi(element) {-->
<!--            var wifiName = element.textContent || element.innerText;-->
<!--            document.getElementById("selectedWifi").innerHTML = "Selected WiFi: " + wifiName;-->
<!--            document.getElementById("selectedSSID").value = wifiName;-->
<!--        }-->
<!--    -->
<!--        document.getElementById('refreshButton').addEventListener('click', function() {-->
<!--            updateWifiList();-->
<!--        });-->
<!--    -->
<!--        function updateWifiList() {-->
<!--            var xhr = new XMLHttpRequest();-->
<!--            //document.getElementById("wifiList").innerHTML += "<li onclick=\"selectWifi(this)\">111111111111111</li>";-->
<!--            xhr.onreadystatechange = function() {-->
<!--               -->
<!--                if (xhr.readyState == 4 && xhr.status == 200) {-->
<!--                    document.getElementById("wifiList").innerHTML +=xhr.responseText;-->
<!--                   -->
<!--                    -->
<!--                }-->
<!--            };-->
<!--    -->
<!--            // 添加一个时间戳参数，以防止浏览器缓存请求-->
<!--            var url = "http://192.168.4.1/get_wifi_list?_=" + new Date().getTime();-->
<!--            xhr.open("GET", url, true);-->
<!--            xhr.send();-->
<!--            -->
<!--        }-->
<!--    </script>-->
<!--    -->
<!--</body>-->

<body>
    <!-- 表单，用于提交WiFi SSID和密码 -->
    <form method="POST" action="configwifi">
        <!-- WiFi SSID输入字段 -->
        <label class="input">
            <span>WiFi SSID</span>
            <input type="text" name="SSID" id="selectedSSID">
        </label>
        <!-- WiFi密码输入字段 -->
        <label class="input">
            <span>WiFi PASS</span>
            <input type="text" name="passWord">
        </label>
        <!-- 提交按钮 -->
        <input class="btn" type="submit" name="submit" value="确定">
    </form>
    <!-- 显示附近的WiFi列表 -->
    <p>附近的WiFi:</p>
    <!-- 刷新按钮 -->
    <input class="btn" type="button" id="refreshButton" value="刷新">
    <div id="progressBarContainer" style="width: 100px; background-color: #eee;">
        <div id="progressBar" style="width: 0%; height: 20px; background-color: #04AA6D;"></div>
    </div>
    <ul id="wifiList">

        <!-- WiFi列表将在这里动态添加 -->
    </ul>

    <!-- 显示选中的WiFi名称 -->
    <p id="selectedWifi">Selected WiFi: None</p>

    <script>
        // 选择WiFi的函数
        function selectWifi(element) {
            var wifiName = element.textContent || element.innerText;
            // 显示选中的WiFi名称
            document.getElementById("selectedWifi").innerHTML = "Selected WiFi: " + wifiName;
            // 设置选中的WiFi名称到表单的SSID输入框
            document.getElementById("selectedSSID").value = wifiName;
        }


        // 给刷新按钮添加点击事件监听器
        document.getElementById('refreshButton').addEventListener('click', function () {
            // 调用更新WiFi列表的函数
            updateWifiList();

            // 初始化进度条
            var progressBar = document.getElementById('progressBar');
            progressBar.style.width = '100%';

            // 开始倒计时
            var timeLeft = 1; // 3秒倒计时
            var timerId = setInterval(function () {
                timeLeft--;
                progressBar.style.width = (timeLeft / 3 * 100) + '%';
                if (timeLeft <= 0) {
                    clearInterval(timerId);
                }
            }, 1000);
        });


        // 给WiFi列表添加点击事件的事件委托
        document.getElementById('wifiList').addEventListener('click', function (event) {
            // 检查点击的是否是列表项
            if (event.target.tagName === 'LI') {
                // 调用选择WiFi的函数
                selectWifi(event.target);
            }
        });

        // 更新WiFi列表的函数
        function updateWifiList() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                //document.getElementById("wifiList").innerHTML += "<li onclick=\"selectWifi(this)\">2222222222222222</li>";
                // 当请求完成且响应就绪时
                // setTimeout(function() {}, 5000);

                if (xhr.readyState == 4 && xhr.status == 200) {
                    // 保存刷新按钮的引用
                    //var refreshButton = document.getElementById('refreshButton');
                    // 清除旧的WiFi列表
                    document.getElementById("wifiList").innerHTML = "";

                    //弹窗方式展示信息
                    //alert(xhr.responseText);

                    // 将新的WiFi列表添加到页面上
                    document.getElementById("wifiList").innerHTML += xhr.responseText;


                }


            }

            // 设置请求的URL，包含时间戳以防止缓存
            var url = "http://192.168.4.1/get_wifi_list?_=" + new Date().getTime();
            // 发送GET请求
            xhr.open("GET", url, true);
            xhr.send();
        }
    </script>

</body>


</html>